.catalog {
    margin-top: 40px;
    color: white;

    &__title {
        font-size: 2em;
        text-align: center;
    }

    &__cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 27%);
    }

    &__slider {
        display: grid;
        row-gap: 15px;
    }

    &__component {
        padding: 10%;
    }
}
