.catalog {
    margin-top: 40px;
    color: white;

    &__title {
        margin-bottom: 15px;
        font-size: 2em;
        text-align: center;
    }

    &__cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 27%);
    }
}
