.new-products {
    margin-top: 40px;
    color: white;

    &__title {
        font-size: 2em;
        text-align: center;
    }

    &__cards {
        display: grid;
        column-gap: 56px;
        grid-template-columns: repeat(3, auto);
    }

    &__slider {
        display: grid;
        row-gap: 12px;
    }

    &__component {
        padding: 10%;
    }
}
