.slider {
    position: relative;
    z-index: 0;
    margin-top: 40px;

    &__container {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 15px;
    }

    &__component {
        border-radius: 10px;
        background-color: #000;
    }

    &__component::before {
        content: "";
        background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
    }

    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    .slider-card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 5px;
        border-radius: 10px;

        &__wrapper {
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__content {
            display: flex;
            flex-direction: column;
            color: #fff;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 38px;
        }

        &__img {
            width: 30%;
        }
    }
}
