*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
    list-style: none;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: rgb(44, 44, 44) !important;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
