html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
